<?xml version="1.0" encoding="UTF-8"?>
  <Settings>
    <View>
      <envTab show="1"/>
      <obsTab show="1"/>
    </View>
    <Models>
      <Scenario showEnv="0"/>
    </Models>
    <LSD automaticLoadAtStartup="0"/>
    <Check automaticCheckAtStartup="0"/>
    <Wizard automaticLaunchAtStartup="0"/>
    <Loading lastLoadedProject="/home/mathieu/LSD/InputGui/Refactor/LSD-inputGUI/src/util.lsd"/>
    <SC>
      <Project label=""/>
      <Mail label=""/>
      <Mailif label="n"/>
      <Server address="" user=""/>
    </SC>
  </Settings>
